/* Root Variables for Color Palette */
:root {
    /* Primary Colors */
    --primary-blue: #007BFF;
    --primary-orange: #424140;

    /* Secondary Colors */
    --secondary-light-gray: #F4F4F4;
    --secondary-dark-gray: #333333;

    /* Accent Colors */
    --accent-mint-green: #98D7A4;
    --accent-soft-yellow: #FFDD67;

    /* Neutral Colors */
    --neutral-white: #FFFFFF;
    --neutral-charcoal-gray: #444444;
    --neutral-off-white: #F9F9F9;
}

* {
    margin: 0%;
    padding: 0%;
    animation-name: fade;
    animation-duration: 1.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-light-gray);
    padding: 20px;
    height: 40px;
}

.navbar-nav a {
    color: var(--primary-blue);
    text-decoration: none;
    padding: 20px;
}

input {
    width: 40vh;
    height: 40px;
    margin-top: 15px;
    border-radius: 6px;
}
input[type="text"]::placeholder{
    /* text-align: center; */
    padding: 10%;
}

.btn {
    width: 10vh;
    height: 36px;
    border-radius: 5px;
    background-color: #7d99b7;
}

img {
    width: 99vw;
    height: 80vh;
}

.slider-container {
    overflow: hidden;
    display: flex;
}

.image {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin: 50px;
}

.cateogry1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    height: 75vh;
    background-color: var(--neutral-white);
    /* display: flex;
    justify-content: center; */
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.jeans{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h3{
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}
.container p{
    text-align: center;
    font-size: 20px;
}
.banners{
    width: 100%;
    height: 80%;
    margin-top: 30px;
}
.cards{
    background-color: #F7F7F8;
    width: 100vh;
    height: 25vh;
    margin: 20px;
}
.container-banners{
    display: flex;
    justify-content: center;
}
.comment{
    background-color: #F7F7F8;
    width: 50vh;
    height: 50vh;
    margin: 20px;
}
.comment-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 100px;
    height: 100px;
    margin-left: 35%;
    margin-top: 40px;
}
.paragraph{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.footer{
    height: 50%;
    width: 100%;
    margin-top: 50px;
    background-color: #F7F7F8;
}